* {
    box-sizing: border-box;
   
  }

  header {
    background-color: #ffffff;
  }
  body {
    background-color:white;
  }
 
  #myname {
    background-color:#4aaaa5;
    padding: 25px;
    font-size:35px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    width: 300px;
    color: #ffffff;
    float: left;
    margin-left:200px;
}



ul {
    list-style-type: none;
    margin: 0;
    background-color:#ffffff;
    padding: 0;
    align-content: center;
    text-align: center;
    width: 960px;
    margin-left: 190px;
    padding-top: 40px;
   
}

  li {
      text-align: center;
      padding-left: 50px;
   
  }

  li a {
    color: #777777;
    text-decoration: none;
  
}



#about {
 display: inline;   
 border-right:1px solid #cccccc;
padding-left: 412px;
text-align: center;
padding-right: 20px;

}

#portfolio{
    display: inline;
    border-right:1px solid #cccccc;
    padding-right: 20px;
    padding-left:20px;
}

#contact{
display: inline;
padding-left: 20px;
padding-right: 0px;
}

#top {
    
}
#wrapper {
    width: 1360px;
    background-color: #ffffff;
    border-top:30px solid #dddddd;
    border-right:200px solid #dddddd;
    border-bottom: 65px solid #dddddd;
    border-left: 200px solid #dddddd;
    align-content: center;
    clear: both;
}

header {
    color: #4aaaa5;
    font-family: Georgia,'Times New Roman', Times, serif;
    font-size: 28px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 20px;
    border-bottom: 3px solid #cccccc;
    border-bottom-width: 880;
    

}
.pp {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    padding-left: 10px;
    line-height: 28px;
  

}

.img {
    float: left;
    width: 20%;
   padding: 10px 20px 10px 20px;
}

footer {
    background-color: #666666;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    border-top: 4px solid #4aaaa5;
    font-size: 10px;
    text-align: center;
    height: 50px;
    width: 1360px;
    padding-top: 30px;

}